[submodule "ui-kit"]
    path = ui-kit
    url = https://github.com/coinmeca/ui-kit

[submodule "wallet-provider"]
    path = wallet-provider
    url = https://$GIT_TOKEN@github.com/coinmeca/wallet-provider
    branch = dev

[submodule "wallet-sdk"]
    path = wallet-provider/wallet-sdk
    url = https://$GIT_TOKEN@github.com/coinmeca/wallet-sdk
    branch = dev
