[submodule "ui-kit"]
	path = ui-kit
	url = https://${GIT_TOKEN}@github.com/coinmeca/ui-kit
[submodule "wallet-provider"]
	path = wallet-provider
	url = https://${GIT_TOKEN}@github.com/coinmeca/wallet-provider
	branch = dev